.slider_section{
    position: relative;
    width: 100%;
    padding-bottom: 0;
    height: 100vh;
}
.slider_section > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slider_lower > .slider_content{
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    width: 450px;
    padding: 0 15px;
    z-index: 0;
    margin: auto;
    margin-left: 26px;
    transition: all 0.5s ease;
    margin-bottom: 49px;
}

.slider_lower::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    padding-bottom: 35%;
    background: rgb(17,28,59);
    background: linear-gradient(0deg, rgba(17,28,59,1) 0%, rgba(0,0,0,0) 100%);
}
.slider_lower .name{
    margin-bottom: 10px;
}

.name > h3{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    line-height: 120%;
    margin-bottom: 20px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 30%);
}
.year_time {
    display:flex;
}

.playButtons{
    display:flex;
}
.slider_playButton{
    width: 54px;
    height: 54px;
    background: #172648;
    border: 1px solid var(--green);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    box-shadow: 0 0 10px 0px var(--green);
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}
.playButtons > .watch{
    height: 54px;
    background: #172648;
    border: 1px solid var(--green);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    box-shadow: 0 0 10px 0px var(--green);
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    padding:0 30px;
}
.slider_playButton:hover{
    box-shadow: 0px 0px 6px var(--green);
    background: var(--green);
    color: var(--Purple);
    transition:all 0.5s ease 0s;
}

.playButtons > .watch:hover{
    box-shadow: 0px 0px 6px var(--green);
    background: var(--green);
    color: var(--Purple);
    transition:all 0.5s ease 0s;
}

.social{
    position: relative;
    cursor: pointer;
}

.social > img.socialIcon{
    position: absolute;
    top:2px;
    left:-10px;
    transform: scale(0);
    transition: all 0.5s ease;
    opacity: 0;
}

.social:hover img.socialIcon{
    top:-10%;
    transform: translateX(100%);
    opacity: 1;
    transform: scale(1);
}


